/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
 /* @tailwind variants */



 /* Media query  */
 using the screen size values we added to the input.css we can apply the class on this breakpoint
 @media screen(lg){
    .bg-hero{
        width: 2000px;
        height: 300px;
        left: 30%;
        @apply absolute rounded-l-full top-52 bg-softBlue

    }

 }